
.playback {
  position: relative;
  top:-5px;
}
.playback-time {
  position: absolute;
  bottom: -15px;
  right:0;
}
.playback-time .time {
  float:left;
  line-height: 15px;
}

.playback-time .duration {
  float:left;
  line-height: 15px;
}

.progress {
  -webkit-appearance: none;
  left:0;
  width: 100%;
  display:block;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eee;
}

.progress::-webkit-progress-value { -webkit-appearance: none; }

.progress-fore::-webkit-progress-value { background-color: #c00; }
.progress-back::-webkit-progress-bar { background-color: #999; }

.progress-thin {
  height: 5px;
  margin-top: 0;
  cursor: pointer;
}

a.control {
  cursor: pointer;
  line-height: 32px;
  padding: 0 2px;
  display: inline-block;
}

.playback{
  clear:both;  
}

.title {
  line-height: 32px;
  margin-left: 6px;
  position: relative;
  float: left;
}


/* Radicons */

@font-face {
  font-family: 'Radicons';
  src:url('fonts/Radicons.eot');
  src:url('fonts/Radicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/Radicons.woff') format('woff'),
    url('fonts/Radicons.ttf') format('truetype'),
    url('fonts/Radicons.svg#Radicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'Radicons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.icon-settings, .icon-fast-forward, .icon-skip, .icon-next, .icon-pause,
.icon-play, .icon-previous, .icon-rewind, .icon-heart {
  font-family: 'Radicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.icon-settings:before { content: "\2318"; }
.icon-fast-forward:before { content: "\290f"; }
.icon-skip:before { content: "\2192"; }
.icon-next:before { content: "\2192"; }
.icon-pause:before { content: "\25fc"; }
.icon-play:before { content: "\25b6"; }
.icon-previous:before { content: "\2190"; }
.icon-rewind:before { content: "\290e"; }
.icon-heart:before { content: "\2665"; }

.icon-nudge-right {
  position: relative;
  left: .125em;
}
button {
  position:absolute;
  top:0;
  right:0;
  line-height: 35px;
}
.header {
  height: 60px;
  clear:both;
}
.tow-now-playing{
  position: absolute;
  width:250px;
  float:right;
  top:0;
  right:60px;
}

img {
  max-width: 100%;
}
.header #logo {
  margin: 10px;
}
/*
.icon-settings, .icon-fast-forward, .icon-next, .icon-pause,
.icon-play, .icon-previous, .icon-rewind, .icon-heart {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.icon-next, .icon-previous {
  font-size: small;
  position: relative;
  top: -1px;
}
*/

.program {
  height: 140px;
  cursor: pointer;
}
.tow-playlist ul{
  text-align: center;
  
}
.nav{
  list-style: none;
  float:left;
  display:block;
  margin:0;
  padding:0;
  margin-left:10px;
}

.nav li{
  margin:0;
  padding: 10px 5px 10px 0;
  display:inline;
}

.nav li a {
  
}
.page{
  position: relative;
  top:70px;
}

@media (max-width: 767px) {
  .tow-now-playing {
    display: none;
  }
}
